*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

h1,h2,p{
    margin-top: 0px;
}

header{
    background-color: #464956;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

.headeritems{
    width: 620px;
    color: white;
   
    padding-top: 20px;
    
}

.headeritems span{
    color: lime;
    font-weight: bold;
    
}
.headeritems p{
    margin-bottom: 0px;
}

img{
    width: 150px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.section1{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.section1items{
    width: 620px;
    color: green;

    padding-top: 80px;
    padding-bottom: 80px;
}

.section1items span{
    color: lime;
    font-weight: bold;
    
}

.header{
    font-size: 40px;
    color: black;
}

.text{
    color: black;
    font-size: 18px;
}

.section1items p{
    padding-left: 75px;
    padding-right:75px;
    
}

.button1{
    display: inline-block;
    background-color: lime;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.button1:hover{
    color: lime;
    background-color: mediumblue;
}

.button1:focus{
    color: lime;
    background-color: mediumblue;
}

.section2{
    background-color: #464956;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.section2items{
    width: 620px;
    color: green;
 
    padding-top: 20px;
}

.header2{
    color: white;
    font-size: 35px;
}

.header2 span{
    color: lime;
    font-size: 40px;
    font-weight: bold;
}

.section2items p{
    padding-left: 75px;
    padding-right:75px;
}

.header2:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 45%;
   border-bottom: 1px solid black;
    
}

.header2:before{
    content: "";
    display: block;
    margin: 0 auto;
    width: 45%;
   border-bottom: 1px solid black;
    
}

h3{
    color: white;
    margin-bottom: 0px;
    font-size: 33px;
}

.section2items p{
    color: white;
}
.section2items p span{
    color: lime;
}

.links{
    color: lime;
}

.links:hover{
    color: red;
}

.links:focus{
    color: red;
}


.button2{
    display: inline-block;
    background-color: lime;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

.button2:hover{
    color: lime;
    background-color: mediumblue;
}

.button2:focus{
    color: lime;
    background-color: mediumblue;
}



