*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

h1,h2,p{
    margin-top: 0px;
}

header{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    
    
}

.headeritems{
    width: 620px;
    color: green;
    border: 1px solid pink;
    padding-top: 20px;
}

img{
    width: 150px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.section1{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.section1items{
    width: 620px;
    color: green;
    border: 1px solid pink;
    padding-top: 20px;
}

.section1items p{
    padding-left: 75px;
    padding-right:75px;
}

.button1{
    display: inline-block;
    background-color: lime;
    padding: 10px 20px;
}

.section2{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.section2items{
    width: 620px;
    color: green;
    border: 1px solid pink;
    padding-top: 20px;
}
